# Python
*.pyc
__pycache__/

# Environments
.env
.venv/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.py[cod]
*~
*.swp
.DS_Store
.idea/
.vscode/
*.sqlite3

# Pytest
.cache

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Static files
staticfiles/
static/

# Media files
media/
